[user]
name = {{ onepasswordRead "op://dotfiles/dotfiles_data/git/name" }}
email = {{ onepasswordRead "op://dotfiles/dotfiles_data/git/email" }}
signingkey = {{ onepasswordRead "op://Private/oklbp2ckbbob5pb7df4f4n5b7m/public key" }}

[gpg]
  format = ssh
{{- if eq .chezmoi.os "darwin" }}
[gpg "ssh"]
  program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
  #allowedSignersFile = ~/.config/git/allowed-signers
{{ end -}}

[commit]
  gpgsign = true
