# General Settings
generate=3
temperature=0.6
includeBody=true

# Model-Specific Settings
[OPENAI]
key={{ onepasswordRead "op://Dotfiles/hznup5rt3iqay767njnfyrdncm/api key" | quote }}

[ANTHROPIC]
key={{ onepasswordRead "op://Dotfiles/qpxipsifxc6qxpkivk5pz4zohu/api key" | quote }}

[GEMINI]
key={{ onepasswordRead "op://Dotfiles/q2vpr3kzottnqtfirxwxfhakse/api key" | quote }}
