#!/usr/bin/env zsh

export LANG=en_US.UTF-8
export LANGUAGE=en_US:en
export LC_TIME=en_US.UTF-8

##############################
# EDITOR
##############################
export VISUAL=nvim
export EDITOR=${VISUAL}
export SYSTEMD_EDITOR=${EDITOR}

##############################
# MISC
##############################
export OPENCV_LOG_LEVEL=ERROR # Hide nonimportant errors for howdy
export rm_opts=(-I -v)
export CLICOLOR=1
export GPG_TTY=$(tty)

##########################
# nodejs memory increase #
##########################
# export NODE_OPTIONS="--max-old-space-size=4096"

##########
# Others #
##########
forgit_ignore="/dev/null" #replaced gi with local git-ignore plugin

# ASDF - changed to mount point with more space
# export ASDF_DIR="$HOME_OPT/.asdf"
# export ASDF_DATA_DIR="$ASDF_DIR"
export ASDF_NODEJS_LEGACY_FILE_DYNAMIC_STRATEGY=latest_installed


##########################################################################################
# ZSH SPECIFIC
##########################################################################################
# Skip the not really helping Ubuntu global compinit
skip_global_compinit=1

# prevent PATH from taking on duplicate entries
typeset -U path

##############################
# MISC
##############################
export DISABLE_AUTO_UPDATE="true";
export DISABLE_UPDATE_PROMPT="true";
export UPDATE_ZSH_DAYS=99999;

##############################
# History file configuration
##############################
HISTFILE="$HOME/.zsh_history"
HIST_STAMPS="yyyy-mm-dd"
HISTSIZE=1000
SAVEHIST=1000

##############################
# ZSH
##############################
ZSH_DISABLE_COMPFIX=true
ZSH_AUTOSUGGEST_USE_ASYNC=true
ZSH_AUTOSUGGEST_BUFFER_MAX_SIZE=50
ZSH_AUTOSUGGEST_HISTORY_IGNORE="?(#c50,)"
ZSH_AUTOSUGGEST_MANUAL_REBIND="true"

HISTORY_SUBSTRING_SEARCH_FUZZY=set
HISTORY_SUBSTRING_SEARCH_ENSURE_UNIQUE=1

ZSHZ_DATA="${HOME}/.config/z"

# WD_CONFIG="${ZPFX}/warprc"
# AUTOENV_AUTH_FILE="${ZPFX}/autoenv_auth"

ZSH_CACHE_DIR="$HOME/.zcompcache"
mkdir -p $ZSH_CACHE_DIR
