{{ if eq .chezmoi.os "linux" }}
#!/usr/bin/env zsh
export TMPDIR="/tmp"

{{   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
# WSL-specific code
export TMPDIR=/tmp
DOTFILES_LOAD_FULL_THEME=true
{{   end }}

{{  if eq .chezmoi.osRelease.idLike "arch" }}
# Archlinux
# XDG_DATA_DIRS="/var/lib/flatpak/exports/share:${HOME}/.local/share/flatpak/exports/share"gkgpg
{{  end }}

if [[ -e /home/linuxbrew/.linuxbrew/bin/brew ]]; then
  eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
fi

{{ if .chezmoi.kernel.osrelease | lower | contains "microsoft" }}
# WSL-specific code

# Ensure that gpg can find the agent when needed
if [ -n "$(pgrep gpg-agent)" ]; then
    export GPG_TTY=$(tty)
else
    eval $(gpg-agent --daemon)
fi

{{   end }}

{{   if (eq .chezmoi.osRelease.id "debian" "ubuntu") -}}
  # Skip the not really helping Ubuntu global compinit
  skip_global_compinit=1
{{   end -}}

{{ end }}
