#!/usr/bin/env bash

export LANG=en_US.UTF-8
export LANGUAGE=en_US:en
export LC_TIME=en_US.UTF-8

##############################
# EDITOR
##############################
export VISUAL=vim
export EDITOR=${VISUAL}
export SYSTEMD_EDITOR=${EDITOR}

##############################
# MISC
##############################
export OPENCV_LOG_LEVEL=ERROR # Hide nonimportant errors for howdy
export rm_opts=(-I -v)
export CLICOLOR=1
export GPG_TTY=$(tty)

##########################
# nodejs memory increase #
##########################
# export NODE_OPTIONS="--max-old-space-size=4096"

##########
# Others #
##########
forgit_ignore="/dev/null" #replaced gi with local git-ignore plugin

