#!/usr/bin/env bash

##############################
# Autoload personal functions
##############################
# TODO: add autoload for personal functions
# fpath=("${DOTFILES_FUNCTIONS}" "${fpath[@]}")
# autoload -Uz $fpath[1]/*(.:t)

##############################
# COMMON PATH's
##############################
PATH="${HOME}/bin/git-scripts:$PATH"
PATH="${HOME}/bin/macos:$PATH"
PATH="${HOME}/bin/etc:$PATH"
PATH="${HOME}/bin:$PATH"
PATH="${HOME}/.local/bin:$PATH"

export PATH
