#!/usr/bin/env bash

set -e
set -u
set -o pipefail

echo ""
echo "-----------------------------------------------------------------------"
echo " Fish Shell Setup"
echo "-----------------------------------------------------------------------"
echo ""

{{ template "brew-shellenv" . }}

if ! command -v fish >/dev/null 2>&1; then
  echo "Fish not found, skipping fish setup"
  exit 0
fi

# Clear fish welcome message
fish -c 'set -U fish_greeting ""'
