#!/usr/bin/env bash

set -e
set -u
set -o pipefail

{{ template "brew-shellenv" . }}

if ! command -v fish >/dev/null 2>&1; then
  echo "Fish not found, skipping fisher installation"
  exit 0
fi

fish -c '
if not type --quiet fisher
    curl -fsL https://raw.githubusercontent.com/jorgebucaran/fisher/main/functions/fisher.fish | source
    fisher update
end
'
