#!/usr/bin/env bash

set -e
set -u
set -o pipefail

echo ""
echo "-----------------------------------------------------------------------"
echo " Install Fisher (Fish Plugin Manager)"
echo "-----------------------------------------------------------------------"
echo ""

{{ template "brew-shellenv" . }}

if ! command -v fish >/dev/null 2>&1; then
  echo "Fish not found, skipping fisher installation"
  exit 0
fi

fish -c '
if not type --quiet fisher
    echo "Installing Fisher and plugins..."
    curl -fsL https://raw.githubusercontent.com/jorgebucaran/fisher/main/functions/fisher.fish | source
    fisher update
else
    echo "Fisher already installed."
end
'
