#!/usr/bin/env bash

set -e
set -u
set -o pipefail

echo ""
echo "-----------------------------------------------------------------------"
echo " Install nvim_lazy"
echo "-----------------------------------------------------------------------"
echo ""

NVIM_DIR="${HOME}/.config/nvim"

if [ ! -d "${NVIM_DIR}" ]; then
  echo "Cloning nvim_lazy..."
  git clone https://github.com/schmas/nvim_lazy.git "${NVIM_DIR}"
  echo "nvim_lazy installed successfully."
else
  echo "nvim_lazy already installed at ${NVIM_DIR}."
fi