<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.schmas.aaa-tunnel</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/bin/ssh</string>
		<string>-N</string>
		<string>-o</string>
		<string>ServerAliveInterval=15</string>
		<string>-o</string>
		<string>ServerAliveCountMax=3</string>
		<string>-o</string>
		<string>ExitOnForwardFailure=yes</string>
		<string>-o</string>
		<string>ConnectTimeout=10</string>
		<string>-o</string>
		<string>BatchMode=yes</string>
		<string>-L</string>
		<string>5432:localhost:5432</string>
		<string>-L</string>
		<string>6379:localhost:6379</string>
		<string>-L</string>
		<string>4566:localhost:4566</string>
		<string>win-dev</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<true/>
	<key>ThrottleInterval</key>
	<integer>10</integer>
	<key>StandardOutPath</key>
	<string>{{ .chezmoi.homeDir }}/.config/aaa-remote-services-tunnel/tunnel.log</string>
	<key>StandardErrorPath</key>
	<string>{{ .chezmoi.homeDir }}/.config/aaa-remote-services-tunnel/tunnel.log</string>
</dict>
</plist>
