# Hosts keys are configure by 1password
Include ~/.ssh/1Password/config

# GitHub
Host github.com
	HostName github.com
	User git
	IdentityFile ~/.ssh/id_github.pub
	IdentitiesOnly yes

# Personal Bitbucket (default)
Host bitbucket.org
	HostName bitbucket.org
	User git
	IdentityFile ~/.ssh/id_bitbucket.pub
	IdentitiesOnly yes

# AAA Bitbucket
Host bitbucket-aaa
	HostName bitbucket.org
	User git
	IdentityFile ~/.ssh/id_bitbucket_aaa.pub
	IdentitiesOnly yes
