set -gx LANG en_US.UTF-8
set -gx LANGUAGE en_US:en
set -gx LC_TIME en_US.UTF-8

##############################
# DOTFILES
##############################
set -gx DOTFILES_BIN "$HOME/bin"

##############################
# EDITOR
##############################
set -gx VISUAL nvim
set -gx EDITOR $VISUAL
set -gx SYSTEMD_EDITOR $EDITOR

##############################
# MISC
##############################
set -gx OPENCV_LOG_LEVEL ERROR # Hide nonimportant errors for howdy
#set -gx rm_opts "-I -v"
set -gx CLICOLOR 1
set -gx GPG_TTY (tty)

##########
# Others #
##########
set -gx GITHUB_TOKEN {{ onepasswordRead "op://Dotfiles/lzlakqn35xiz2wptj56mhtghdy/Tokens/mise" | quote }}
set -gx HOMEBREW_GITHUB_API_TOKEN {{ onepasswordRead "op://Dotfiles/lzlakqn35xiz2wptj56mhtghdy/Tokens/homebrew" | quote }}
set -gx PODMAN_COMPOSE_WARNING_LOGS false
