{{ if eq .chezmoi.os "linux" }}

{{   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
# WSL-specific code
set -gx TMPDIR /tmp
# DOTFILES_LOAD_FULL_THEME=true
{{   end }}

{{  if eq .chezmoi.osRelease.idLike "arch" }}
# Archlinux
# XDG_DATA_DIRS="/var/lib/flatpak/exports/share:${HOME}/.local/share/flatpak/exports/share"gkgpg
{{  end }}

{{ end }}
