{{ if eq .chezmoi.os "darwin" }}
##########################
# MacOS
##########################

string match -q "$TERM_PROGRAM" vscode
and . (code --locate-shell-integration-path fish)

ulimit -f unlimited

{{ end }}
