{{ if eq .chezmoi.os "darwin" }}
##########################
# MacOS
##########################

# set Visual Studio Code as default editor use code, code-insiders, subl or vim
set -gx EDITOR nvim

string match -q "$TERM_PROGRAM" vscode
and . (code --locate-shell-integration-path fish)

# fix for too many files open
# ulimit -n 524288 524288
ulimit -f unlimited

{{ end }}
